In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from IPython.display import display
import datetime
import time
import math
import warnings
warnings.filterwarnings("ignore")
import glob

In [2]:
path = 'Data/low_freq/House_1/labels.dat'
with open(path) as labels:
    print(labels)

<_io.TextIOWrapper name='Data/low_freq/House_1/labels.dat' mode='r' encoding='UTF-8'>

In [7]:
with open('Data/low_freq/House_1/labels.dat','r') as f:
    labels = pd.DataFrame(l.rstrip().split() for l in f)

labels

     0                1
0    1            mains
1    2            mains
2    3             oven
3    4             oven
4    5     refrigerator
5    6        dishwaser
6    7  kitchen_outlets
7    8  kitchen_outlets
8    9         lighting
9   10     washer_dryer
10  11        microwave
11  12     bathroom_gfi
12  13    electric_heat
13  14            stove
14  15  kitchen_outlets
15  16  kitchen_outlets
16  17         lighting
17  18         lighting
18  19     washer_dryer
19  20     washer_dryer

In [8]:
with open('Data/low_freq/House_1/channel_1.dat','r') as f:
    h1_ch1 = pd.DataFrame(l.rstrip().split() for l in f)

h1_ch1

                  0       1
0        1303132929  224.19
1        1303132930  225.57
2        1303132931  226.09
3        1303132932  222.74
4        1303132933  222.20
5        1303132934  222.11
6        1303132935  223.14
7        1303132936  223.17
8        1303132937  222.25
9        1303132938  222.64
10       1303132939  221.88
11       1303132940  223.60
12       1303132941  222.21
13       1303132942  222.82
14       1303132943  222.91
15       1303132944  222.81
16       1303132945  221.64
17       1303132946  222.94
18       1303132947  222.43
19       1303132948  221.98
20       1303132949  222.30
21       1303132950  222.90
22       1303132951  222.56
23       1303132952  222.38
24       1303132953  222.96
25       1303132954  222.95
26       1303132955  221.77
27       1303132956  224.60
28       1303132957  222.54
29       1303132958  223.17
...             ...     ...
1561630  1306266993  234.64
1561631  1306266994  235.29
1561632  1306266995  234.86
1561633  1306266996  234.38
1561634  1306266997  235.87
1561635  1306266998  236.40
1561636  1306266999  238.91
1561637  1306267000  237.50
1561638  1306267001  234.40
1561639  1306267002  234.74
1561640  1306267003  234.67
1561641  1306267004  235.34
1561642  1306267005  234.01
1561643  1306267006  234.82
1561644  1306267007  235.10
1561645  1306267008  234.99
1561646  1306267009  234.38
1561647  1306267010  234.52
1561648  1306267011  235.02
1561649  1306267012  237.02
1561650  1306267013  235.11
1561651  1306267014  234.86
1561652  1306267015  235.21
1561653  1306267016  235.55
1561654  1306267017  234.88
1561655  1306267018  234.44
1561656  1306267019  235.57
1561657  1306267020  234.77
1561658  1306267021  235.55
1561659  1306267022  235.43

[1561660 rows x 2 columns]